<h1>Transaction</h1>

<div class="col-md-4">

  <%= form_with model: @transaction  do |f| %>
    <div class="field form-group">
      <%= f.label "To Account Number" %>
      <%= f.collection_select(:to_account_number, current_user.beneficiaries.all, :account_number,:account_number, :include_blank => "Please select beneficiary") %>
    </div>

    <div class="field form-group">
      <%= f.label "Enter Amount" %>
      <%= f.text_field :amount, class: "form-control",autofocus: true %>
    </div>

    <div class="field form-group">
      <%= f.text_field :otp , disabled: true,class: "form-control" %>
      <%= link_to "Generate OTP",generate_otp_transaction_path(current_user.account),remote: true, class: "btn btn-danger" %>
    </div>

    <div class="field form-group">
      <%= f.submit "Transfer",id: "verify",disabled: true ,class: "form-control btn btn-success"%>
    </div>

  <% end %>

</div>
